# Archivos y carpetas de Node.js
ReservationApp/frontend/node_modules
ReservationApp/frontend/dist

# Archivos de compilación de .NET
ReservationApp/backend/bin
ReservationApp/backend/obj

# Archivos temporales
*.log
*.tmp

# Configuraciones locales
*.vs

